/** @define wrapper*/
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  @include space(padding, all, unit-convert(34) unit-convert(20) unit-convert(64));

  &--done {
    height: 100%;
  }
}
